<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Luciano</h1>
    <p>Welcome to your tasks</p>
    <br>
    <input id="nome" type="text"/> 
    <button class="btnAdicionar">Adicionar</button>
    <h1>ToDo</h1>
    <div class="tasks"></div>
    <br>
    <h1>Done</h1>
    <div class="done"></div>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
